.content {
  width: 80vw;
}

#listHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#listHeader .backButton {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#listHeader .searchAndButtons {
  display: flex;
  justify-content: flex-end;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid > div {
  padding: 4px 4px;
}

.grid > div.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-size: 20px;
  height: 50px;
  border-bottom: 1px solid gray;
}

.grid > div.header * {
    padding:4px;
}

.selected {
  color: gray;
}

.footer {
  width: 200px;
  display: flex;
  justify-content: space-around;
  font-size: 10px;
}
